{
	"env": {
		"node": true
	},
	"extends": ["airbnb-base", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"no-plusplus": "warn",
		"no-unused-vars": "error",
		"prettier/prettier": ["error"],
		"linebreak-style": ["off", "windows"],
		"no-restricted-globals": "off",
		"import/prefer-default-export": "off"
	},
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"parser": "babel-eslint"
}
